@media screen and (min-width: 801px) and (max-width: 1023px){
    header{


        nav{
            
            .gdn{
                color: beige;
                font-size: 25px;
                margin-top: 0px;
                margin-left: 0px;
            }
    
            .logotext{
                display: flex;
                flex-direction: column;
                text-align: center;
                margin: 2px;
            }
        }

        .hamburger{
            display: block;
        }
        .hamburger.active .bar:nth-child(2){
            opacity: 0;
        }
    
        .hamburger.active .bar:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }
    
        .hamburger.active .bar:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }
    
        .nav-menu{
            position: fixed;
            left: -100%;
            top: 100px;
            gap: 0;
            flex-direction: column;
            background-color: rgb(132, 140, 213);
            width: 100%;
            text-align: center;
            transition: 0.3s;
            font-size: 20px;
        }
    
        .nav-item{
            margin: 16px 0;
        }
    
        .nav-menu.active{
            left: 0;
        }
    }}

    @media screen and (max-width: 800px) {

        header{
            margin-bottom: 0px;
    
            nav{
                margin-bottom: 0px;
                .gdn{
                    color: beige;
                    font-size: 25px;
                    margin-top: 0px;
                    margin-left: 0px;
                }

                .port{
                    font-size: 30px;
                    text-decoration: none;
                }
        
                .logotext{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    margin: 2px;
                }
            }
    
            .hamburger{
                display: block;
            }
            .hamburger.active .bar:nth-child(2){
                opacity: 0;
            }
        
            .hamburger.active .bar:nth-child(1){
                transform: translateY(8px) rotate(45deg);
            }
        
            .hamburger.active .bar:nth-child(3){
                transform: translateY(-8px) rotate(-45deg);
            }
        
            .nav-menu{
                position: fixed;
                left: -100%;
                top: 116px;
                gap: 0;
                flex-direction: column;
                background-color: rgb(132, 140, 213);
                width: 100%;
                text-align: center;
                transition: 0.3s;
                font-size: 20px;
            }
        
            .nav-item{
                margin: 16px 0;
            }
        
            .nav-menu.active{
                left: 0;
            }
            }

        body{
            .conteneur1{
                height: 400px;
                flex-direction: column;
                gap: none;
                border-width: 4px;
                margin-top: 0px;
                text-align: center;
                gap: 0px;

                .nom{
                    font-size: 50px;
                }

                .text{
                    margin-top: 0px;
                    font-size: 15px;
                }

                p{
                    display: none;
                }

                .thomas{
                    width: 200px;
                    height: 200px;
                    margin-bottom: 0px;
                    margin: 10px;
                }

                .button{
                    display: flex;
                    margin-top: 15px;
                    justify-content: center;

                    .cv{
                        font-style: Arial;
                        font-size: 20px;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        padding-right: 35px;
                        padding-left: 35px;
                        margin-top: 0;
                        margin-bottom: 0;
                    }

                    .contact{
                        font-size: 20px;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        padding-right: 10px;
                        padding-left: 10px;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }

                
            }

            .competences{
                margin-top: 55px;
            }

            .container{

                .html{
                    width: 90%;
                }

                .css{
                    width: 90%;
                }

                .js{
                    width: 90%;
                }

                .php{
                    width: 90%;
                }

                .donnes{
                    width: 90%;
                }

                .XD{
                    width: 90%;
                }

                .photoshop{
                    width: 90%;
                }

                .premiere{
                    width: 90%;
                }
            }
        }
        }