@media screen and (min-width: 801px) and (max-width: 1023px){
    header{


        nav{
            
            .gdn{
                color: beige;
                font-size: 25px;
                margin-top: 0px;
                margin-left: 0px;
            }
    
            .logotext{
                display: flex;
                flex-direction: column;
                text-align: center;
                margin: 2px;
            }
        }

        .hamburger{
            display: block;
        }
        .hamburger.active .bar:nth-child(2){
            opacity: 0;
        }
    
        .hamburger.active .bar:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }
    
        .hamburger.active .bar:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }
    
        .nav-menu{
            position: fixed;
            left: -100%;
            top: 0px;
            gap: 0;
            flex-direction: column;
            background-color: rgb(132, 140, 213);
            width: 100%;
            text-align: center;
            transition: 0.3s;
            font-size: 20px;
        }
    
        .nav-item{
            margin: 16px 0;
        }
    
        .nav-menu.active{
            left: 0;
        }
    }}

    @media screen and (max-width: 800px) {

        header{
            margin-bottom: 0px;
    
            nav{
                margin-bottom: 0px;
                .gdn{
                    color: beige;
                    font-size: 25px;
                    margin-top: 0px;
                    margin-left: 0px;
                }

                .port{
                    font-size: 30px;
                    text-decoration: none;
                }
        
                .logotext{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    margin: 2px;
                }
            }
    
            .hamburger{
                display: block;
                margin-right: 10px;
            }
            .hamburger.active .bar:nth-child(2){
                opacity: 0;
            }
        
            .hamburger.active .bar:nth-child(1){
                transform: translateY(8px) rotate(45deg);
            }
        
            .hamburger.active .bar:nth-child(3){
                transform: translateY(-8px) rotate(-45deg);
            }
        
            .nav-menu{
                position: fixed;
                left: -100%;
                top: 100px;
                gap: 0;
                flex-direction: column;
                background-color: rgb(132, 140, 213);
                width: 100%;
                text-align: center;
                transition: 0.3s;
                font-size: 20px;
            }
        
            .nav-item{
                margin: 16px 0;
            }
        
            .nav-menu.active{
                left: 0;
            }
            }

        body{
            border-right: 0px;
            border-left: 0px;

            .hrtitre{
                width: 100px;
            }
            .conteneur1{
                height: 400px;
                flex-direction: column;
                gap: none;
                border-width: 4px;
                margin-top: 0px;
                text-align: center;
                gap: 0px;

                .nom{
                    font-size: 50px;
                }

                .text{
                    margin-top: 0px;
                    font-size: 15px;
                }

                p{
                    display: none;
                }

                .thomas{
                    width: 200px;
                    height: 200px;
                    margin-bottom: 0px;
                    margin: 10px;
                }

                .button{
                    display: flex;
                    margin-top: 15px;
                    justify-content: center;

                    .cv{
                        font-style: Arial;
                        font-size: 20px;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        padding-right: 35px;
                        padding-left: 35px;
                        margin-top: 0;
                        margin-bottom: 0;
                    }

                    .contact{
                        font-size: 20px;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        padding-right: 10px;
                        padding-left: 10px;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }

                
            }

            .competences{
                margin-top: 55px;
                font-size: 45px;
            }

            .services{
                font-size: 50px;
                margin-top: 40px;
            }

            .container{

                height: 38vh;

                .html{
                    width: 90%;
                }

                .css{
                    width: 90%;
                }

                .js{
                    width: 90%;
                }

                .php{
                    width: 90%;
                }

                .donnes{
                    width: 90%;
                }

                .XD{
                    width: 90%;
                }

                .photoshop{
                    width: 90%;
                }

                .premiere{
                    width: 90%;
                }

                
            }

            .devui{
                flex-direction: column;
                margin-top: 50px;
                
                .gauche{
                    border-right: none;
                    padding-top: 0px;
                    

                    .word{
                        margin-top: 0;
                        padding-left: 10%;
                        gap: 5%;

                        h2{
                            text-align: start;
                        }

                            img{
                                order: -1;
                            }
                        }
                }

                .droite{
                    margin-top: 0px;
                    padding-top: 0;
                    padding-right: 20%;
                    
                    div{
                        gap: 1%;
                    }

                    h2 {
                        order:-1;
                        text-align: end;
                    }
                }

                
            }
        }

            .portfolio{
                
                .home{
                    margin-top: 80px;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: auto;
                    margin-right: auto;

                    img{
                        width: 90%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 30px;
                    }

                    .hometext{

                        h1{
                            text-align: center;
                            font-size: 40px;
                            margin-top: 5px;
                            margin-bottom: 5px;
                        }

                        p{
                            text-align: center;
                            margin-left: auto;
                            margin-right: auto;
                            width: 90%;
                        }

                        a{
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
                .aubon{
                    margin-top: 80px;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: auto;
                    margin-right: auto;

                    img{
                        order: -1;
                        width: 90%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 30px;
                        margin-top: 100px;
                    }

                    .aubontext{

                        h1{
                            text-align: center;
                            font-size: 40px;
                            margin-top: 5px;
                            margin-bottom: 5px;
                        }

                        p{
                            text-align: center;
                            margin-left: auto;
                            margin-right: auto;
                            width: 90%;
                        }

                        a{
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
            }

            .pagecontact{

                .contactt{
                    font-size: 45px;
                    margin-top: 20px;
                }

                .centrer{
                    gap: 100px;

                    div{
                        margin-top: 35px;
                    }

                    .input{
                        margin-top: 45px;
                        width: 150px;
                    }
                }

                .wewe{
                    font-size: 13px;
                    width: 90px;
                }

                .mesreseaux{
                    font-size: 45px;
                    margin-top: 45px
                }

                .reseaux{
                    img{
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
        